.register-section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: rgba(30, 31, 83);
}
.register-container {
	max-width: 540px;
	width: 100%;
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.register-container .title {
	height: 100px;
	background: #54a7e2;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
}
.register-container .title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	border-radius: 5px;
	background: #fff;
}
.content form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}
form .user-details .input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 - 5px);
}

form .gender-details .gender-title {
	font-size: 20px;
	font-weight: 500;
}
form .category {
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}
form .category label {
	display: flex;
	align-items: center;
	cursor: pointer;
}
form .category label .dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	margin-right: 10px;
	background: #d9d9d9;
	border: 5px solid transparent;
	transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
	background: #1795f1;
	border-color: #d9d9d9;
}
form input[type='radio'] {
	display: none;
}
form .button {
	height: 45px;
	margin: 35px 0;
}
form .button input {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
	background: #1795f1;
}
form .button input:hover {
	/* transform: scale(0.99); */
	background: #1795f1;
}
@media (max-width: 584px) {
	.container {
		max-width: 100%;
	}
	form .user-details .input-box {
		margin-bottom: 15px;
		width: 100%;
	}
	form .category {
		width: 100%;
	}
	.content form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}
@media (max-width: 459px) {
	.register-container .content .category {
		flex-direction: column;
	}
}
.login-link {
	text-align: center;
	padding: 1rem 0;
}
.login-link a {
	text-decoration: none;
	color: #1795f1;
}
.login-link a:hover {
	text-decoration: underline;
}
